.cambay-font {  /*for headings*/
    font-family: "Cambay", sans-serif;
}

.telex-font {  /*for paragraphs*/
    font-family: "Telex", sans-serif;
}

.palanquin-font {  /*for navs*/
    font-family: "Palanquin", sans-serif;
}

#site-header {
    width: 100%;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: solid lightgray 1px;
}

#site-header div {
    display: flex;
    justify-content: space-around;
}

#site-header a {
    display: block;
}

#site-header img {
/*
    width: 20%;
    min-width: 200px;
*/
    width: 200px;
/*    height: 100%;*/
}

#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 4%;
    font-size: 1.125em;
}

#main-nav ul a{
    color: black;
    text-decoration: none;
}

#main-nav ul a:hover {
    
}

#main-section {
    padding: 2%;
}

#home-main-pictures-container {
    width: 100%;
/*
    display: inline-flex;
    overflow: hidden;
*/
}

/*
.home-main-image {
    height: 500px;
    position: relative;
    right: 0px;
}
*/

#home-main-image-1 {
    width: 100%;
}

#home-primary-heading {
    line-height: 30px;
    padding-top: 30px;
}

#home-secondary-heading {
    line-height: 30px;
}

#home-visit-container {
    display: flex;
    flex-wrap: wrap;
}

#home-visit-tickets div, #home-visit-hours div, #home-visit-location div, #home-visit-contact div {
    padding: 0 7%;
}

#home-buy-tickets-button {
    width: 100%;
    height: 40px;
    font-size: 0.875em;
    background-color: lightgray;
    cursor: pointer;
}

#home-visit-tickets {
    width: 20%;
}

#home-visit-hours {
    width: 30%;
}

#home-visit-location {
    width: 25%;
}

#home-visit-contact {
    width: 25%;
}

.home-visit-heading {
    line-height: 15px;
}

.home-visit p {
    position: relative;
    top: -8px;
}

#home-visit-hours-note {
    position: relative;
    top: -12px;
}

#home-under-main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-under-main {
    padding: 2%;
    text-decoration: none;
    color: black;
}

.home-under-main-heading {
    font-size: 1.5em;
}

#home-upcoming-events-container-link {
    width: 45%;
    border: solid lightgray 1px;
}

#home-composite-exhibit-container-link {
    width: 45%;
    border: solid lightgray 1px;
}

#home-exhibits-container-link {
    width: 45%;
    border: solid lightgray 1px;
}

#home-field-trips-container-link {
    width: 45%;
    border: solid lightgray 1px;
}

.home-under-main-div {
    position: relative;
    top: -16px;
}

#home-upcoming-events-list {
    line-height: 36px;
}

#home-composite-exhibit-title-picture, #home-composite-exhibit-picture, #home-exhibits-picture, #home-field-trips-picture {
    width: 100%;
}



#site-footer {
    width: 100%;
    height: 150px;
    background-color: white;
    border-top: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer-momath-info {
    position: relative;
    left: 3%;
}

.fa {
    background-color: lightgray;
    color: white;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#social-media-container {
    width: 50%;
    max-width: 180px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}



.exhibit-description-container {
    width: 90%;
    height: 300px;
/*    height: 100%;*/
    background-color: white;
    border: solid lightgray 1px;
/*
    display: grid;
    grid-template-columns: 5% 10% 5%;
*/
    display: flex;
    
}

.exhibit-description-icon-container {
    width: 17%;
    max-width: 150px;
    min-width: 90px;
    padding: 5%;
}

.exhibit-description-icon {
    width: 100%;
}


.exhibit-description-box {
    width: 68%;
    padding: 1% 5% 1% 0;
}

.exhibit-description-header {
    font-size: 1.5em;
    line-height: 30px;
}

.exhibit-description {
    position: relative;
    top: -10px;
}


#visit-picture {
    width: 100%;
    max-width: 800px;
}

/*width="600" height="450"*/
#google-maps-container {
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    position: relative;
/*    max-width: 800px;*/
}

#google-maps-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.directions-option {
    width: 100%;
    height: 50px;
    border-top: solid lightgray 1px;
    cursor: pointer;
/*    position: relative;*/
/*    top: -15px;*/
/*
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
*/
}

#by-car {
    border-bottom: solid lightgray 1px;
}

#directions-heading {
    position: relative;
    bottom: -12px;
}

.directions-option h3, .directions-option-panel p, .directions-option-panel h4 {
    padding: 0 3%;
}

.directions-option h3 {
    position: relative;
    top: -5px;
}

.directions-option-panel {
    width: 100%;
/*    position: relative;*/
/*    top: -10px;*/
    display: none;
/*    height: 100px;*/
/*
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
*/
}

#bus-stops {
    line-height: 22px;
}

.directions-option-panel h4 {
/*    line-height: 2px;*/
}

.directions-option-panel p {
/*    padding-bottom: 5px;*/
    position: relative;
    top: -8px;
}

.admission-line {
    display: flex;
    justify-content: space-between;
}

.admission-price {
    position: relative;
/*    right: 70%;*/
}

#buy-tickets-button {
    width: 180px;
    height: 40px;
    font-size: 0.875em;
    background-color: lightgray;
/*    color: white;*/
    cursor: pointer;
}

.map-image {
/*    width: 1200px;*/
    width: 100%;
    height: 28.6937901498929%;
}

.floor-map-container {
    padding: 5% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0;
    left: 0;
}

#coaster-rollers {
    width: 7.548179871520343%;  /*width of exhibit icon divided by the width of the map multiplied by 100*/
    position: absolute;
    top: 35%;
    left: 63%;
}

#dynamic-wall {
    width: 13.169164882226981%;
    position: absolute;
    top: 37.9%;
    left: 83.5%;
}

#formula-morph {
    width: 1.498929336188437%;
    position: absolute;
    top: 72.8%;
    left: 28.2%;
}

#hoop-curves {
    width: 6.477516059957173%;
    position: absolute;
    top: 77.3%;
    left: 37.8%;
}

#hyper-hyperboloid {
    width: 2.997858672376874%;
    position: absolute;
    top: 58.4%;
    left: 65.4%;
}

#light-grooves {
    width: 3.426124197002141%;
    position: absolute;
    top: 72.5%;
    left: 72%;
}

#momath-logo-generator {
    width: 2.194860813704497%;
    position: absolute;
    top: 39%;
    left: 74.8%;
}

#the-mathenaeum {
    width: 8.832976445396146%;
    position: absolute;
    top: 43.1%;
    left: 33.1%;
}

#math-flash {
    width: 1.873661670235546%;
    position: absolute;
    top: 34.6%;
    left: 56.6%;
}

#motionscape {
    width: 2.676659528907923%;
    position: absolute;
    top: 38.6%;
    left: 28.2%;
}

#pattern-mesh {
    width: 2.623126338329764%;
    position: absolute;
    top: 78.7%;
    left: 62.7%;
}

#pattern-pants {
    width: 4.336188436830835%;
    position: absolute;
    top: 75%;
    left: 32.5%;
}

#polypaint {
    width: 4.336188436830835%;
    position: absolute;
    top: 79.5%;
    left: 32.5%;
}

#seeing-math {
    width: 3.747323340471092%;
    position: absolute;
    top: 34.6%;
    left: 41.3%;
}

#shapes-of-space {
    width: 5.674518201284797%;
    position: absolute;
    top: 71%;
    left: 47.3%;
}

#square-wheeled-trike {
    width: 9.421841541755889%;
    position: absolute;
    top: 42%;
    left: 44.4%;
}

#string-product-0 {
    width: 6.316916488222698%;
    position: absolute;
    top: 14.5%;
    left: 47.4%;
}

#structure-studio {
    width: 4.229122055674518%;
    position: absolute;
    top: 76.5%;
    left: 56%;
}

#tracks-of-galileo {
    width: 6.423982869379015%;
    position: absolute;
    top: 38%;
    left: 36.8%;
}

#twisted-thruway {
    width: 6.26338329764454%;
    position: absolute;
    top: 42%;
    left: 56.3%;
}

#three-d-doodle {
    width: 3.41221794166208%;
    position: absolute;
    top: 84.3%;
    left: 48.1%;
}

#beaver-run {
    width: 3.137039075399009%;
    position: absolute;
    top: 71%;
    left: 66.8%;
}

#edge-fx {
    width: 3.742432581177766%;
    position: absolute;
    top: 28%;
    left: 83.3%;
}

#enigma-cafe {
    width: 8.750687947165658%;
    position: absolute;
    top: 53.7%;
    left: 72.5%;
}

#feedback-fractals {
    width: 5.613648871766648%;
    position: absolute;
    top: 49.9%;
    left: 94.2%;
}

#finding-fifteen {
    width: 5.668684645019263%;
    position: absolute;
    top: 64.8%;
    left: 94.1%;
}

#harmony-of-the-spheres {
    width: 3.467253714914695%;
    position: absolute;
    top: 57.3%;
    left: 64.4%;
}

#human-tree {
    width: 7.649972482113374%;
    position: absolute;
    top: 27.8%;
    left: 92.1%;
}

#in-plane-sight {
    width: 1.926252063841497%;
    position: absolute;
    top: 83%;
    left: 45.5%;
}

#math-square {
    width: 10.016510731975784%;
    position: absolute;
    top: 44.5%;
    left: 52%;
}

#mind-over-measure {
    width: 2.75178866263071%;
    position: absolute;
    top: 86.5%;
    left: 78.4%;
}

#monkey-around {
    width: 3.026967528893781%;
    position: absolute;
    top: 86.5%;
    left: 74.7%;
}

#rhythms-of-life {
    width: 3.467253714914695%;
    position: absolute;
    top: 83.1%;
    left: 83.4%;
}

#robot-swarm {
    width: 8.695652173913043%;
    position: absolute;
    top: 54.1%;
    left: 82.3%;
}

#shape-ranger {
    width: 2.531645569620253%;
    position: absolute;
    top: 81.8%;
    left: 88.8%;
}

#sixth-sense {
    width: 3.467253714914695%;
    position: absolute;
    top: 85%;
    left: 70.4%;
}

#string-product-1 {
    width: 6.769400110071547%;
    position: absolute;
    top: 13.1%;
    left: 45.3%;
}

#tessellation-station {
    width: 10.071546505228398%;
    position: absolute;
    top: 86.1%;
    left: 34.3%;
}

#tile-factory {
    width: 5.118326912493121%;
    position: absolute;
    top: 75%;
    left: 54%;
}

#time-tables {
    width: 4.402861860209136%;
    position: absolute;
    top: 83.9%;
    left: 91.9%;
}

#twist-n-roll {
    width: 4.182718767198679%;
    position: absolute;
    top: 41.8%;
    left: 72.4%;
}

#wall-of-fire {
    width: 5.723720418271877%;
    position: absolute;
    top: 73.8%;
    left: 46.8%;
}

#water-frieze {
    width: 4.237754540451293%;
    position: absolute;
    top: 86.5%;
    left: 64.8%;
}


.info-divider {
    width: 70%;
    height: 2px;
    background-color: lightgray;
    margin: 0 auto;
}

#composite-header {
    width: 60%;
    height: 100%;
}

#composite-header-container {
    display: flex;
    justify-content: space-around;
}

.composite-headings {
    font-size: 1.625em;
}

#reflections-picture {
    width: 25%;
    height: 100%;
}

#reflections-description {
    width: 65%;
}

#reflections-logo {
    width: 100%;
}

#current-composite-exhibit-container {
    display: flex;
    justify-content: space-around;
}

.past-composite-exhibit-heading {
    font-size: 1.25em;
}

.past-composite-exhibit-image {
    width: 30%;
    height: 100%;
}

.past-composite-exhibit-description-container {
    width: 65%;
}

.past-composite-exhibit-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}


h1 {
    font-size: 36px;
}

.event-container {
    width: 100%;
    border: solid lightgray 1px;
    display: flex;
}

.event-date-container {
    width: 20%;
    border-right: solid lightgray 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.event-date-container p {
    line-height: 30px;
    font-size: 1.125em;
}

.event-description-container {
    width: 80%;
    padding: 10px 25px 20px 25px;
}

.event-heading {
    font-size: 1.25em;
}

.field-trip-package-title {
    font-size: 17px;
}

#mta-link {
    text-decoration: none;
}

